.about-section {
    height: auto; 
    display: flex;
    flex-direction: column;
    margin: 4rem;
    width: calc(100% - 8rem); 
    background-color: #000000;
    color: #ffffff;
}

.about-main-heading-1 {
    font-size: 2rem;
    background: linear-gradient(to right, #0beffa,#193d86, #193d86);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.about-part-1 {
    display: flex;
    margin: 4rem;
}

.about-part-1-image-container {
    width: 50%;
    /* display: flex; */
}

.about-part-1-image {
    transform: scaleX(-1);
    width: 60%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.about-part-1-content {
    display: flex;
    flex-direction: column;
    align-items: centers;
    width: 50%;
}

.about-part-1-content-heading {
    color: #0beffa;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about-part-1-content-text {
    color: #fff;
    font-size: 1rem;
}

.about-part-2 {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.about-part-2-content {
    color: #fff;
    text-align: center;
}

.offerings-container {
    display: flex;
    width: 100%;
}

.first-offerings-part, .second-offerings-part {
    display: flex;
    color: #0beffa;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0.3;
}

.second-offerings-part {
    text-align: right;
}

.offerings {
    display: flex;
    font-size: 0.8rem;
    opacity: 0;
    align-items: center;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .offerings.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .reverse-img {
    transform: scaleX(-1);
  }

  .reverse-img-lower {
    transform: scaleY(-1) scaleX(-1);
  }

  .arrow-img, .arrow-img-lower {
    margin-left: 1rem;
  }

  .arrow-img-lower {
    transform: scaleY(-1);
  }

  .arrow-img, .reverse-img, .arrow-img-lower, .reverse-img-lower {
    width: 10rem;
  }

.about-part-2-video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    flex: 0.4;
}


video {
    -webkit-touch-callout: none;
    width: 25rem;
}

.survey-container {
    display: flex;
    height: auto;
    width: 100%;
}

.survey-content-part {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    width: calc(60%-8rem);
}

.survey-title {
    font-size: 2rem;
    background: linear-gradient(to right, #0beffa,#193d86, #193d86);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.survey-content {
    font-size: 1rem;
    color: #fff;
    margin: 1rem 0;
}

.survey-button-part {
    width: auto;
    margin-top: 1rem;
}

.survey-button {
    border-style: none;
    background: linear-gradient(to right, #0beffa,#05A3A9,#193d86);
    color: #fff;
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.survey-button:hover {
    transform: scale(1.1);
}

.survey-image-part {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.survey-image {
    width: 12rem;
    height: 12rem;
}

@media (max-width: 768px) {
    .about-section {
        margin: 2rem;
        width: calc(100% - 4rem); 
    }
    .about-part-1 {
        flex-direction: column;
        margin: 2rem 0;
    }

    .about-main-heading-1, .survey-title {
        font-size: 1.5rem;
    }

    .about-part-1-content-heading {
        font-size: 1rem;
    }

    .about-part-1-content-text, .about-part-2-content,
    .survey-content {
        font-size: 0.8rem;
    }

    .about-part-1-image-container {
        width: 100%;
    }

    .about-part-1-image {
        width: 11.5rem;
    }

    .about-part-1-content-heading {
        margin: 1rem 0;
    }

    .about-part-1-content {
        width: 100%;
    }

    .about-part-2-content {
        margin: auto;
    }
    .offerings {
        font-size: 0.3rem;
    }
    .arrow-img, .reverse-img, .arrow-img-lower, .reverse-img-lower {
        width: 3rem;
      }

      .arrow-img, .arrow-img-lower {
        margin-left: 0;
      }
    
    video {
        width: 9rem;
        opacity: 0.9;
    }
    .survey-container {
        flex-direction: column;
    }
    
    .survey-image-part {
        display: none;
    }
    .survey-content-part {
        margin: 0;
    }
}

